<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%> </title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Create your PC</h1>
        <form method="POST" action="/create-pc">
            <!-- Input para el nombre del PC -->
            <label for="name">Name of PC</label>
            <input type="text" id="name" name="name" placeholder="Enter the name of your PC" required>

            <!-- Selector de CPU -->
            <label for="cpu">CPU:</label>
            <select id="cpu" name="cpu" required>
                <option disabled selected hidden value="">-- Select a CPU --</option>
                <% components.forEach(component => { %>
                    <% if (component.component_type === 'CPU') { %>
                        <option value="<%= component.component_id %>"><%= component.component_name %></option>
                    <% } %>
                <% }) %>
            </select>

            <!-- Selector de GPU -->
            <label for="gpu">GPU:</label>
            <select id="gpu" name="gpu">
                <option disabled selected hidden value="">-- Select a GPU --</option>
                <% components.forEach(component => { %>
                    <% if (component.component_type === 'GPU') { %>
                        <option value="<%= component.component_id %>"><%= component.component_name %></option>
                    <% } %>
                <% }) %>
            </select>

            <!-- Selector de RAM -->
            <label for="ram">RAM:</label>
            <select id="ram" name="ram" required>
                <option disabled selected hidden value="">-- Select RAM --</option>
                <% components.forEach(component => { %>
                    <% if (component.component_type === 'RAM') { %>
                        <option value="<%= component.component_id %>"><%= component.component_name %></option>
                    <% } %>
                <% }) %>
            </select>

            <!-- Selector de Storage -->
            <label for="storage">Storage:</label>
            <select id="storage" name="storage" required>
                <option disabled selected hidden value="">-- Select Storage --</option>
                <% components.forEach(component => { %>
                    <% if (component.component_type === 'Storage') { %>
                        <option value="<%= component.component_id %>"><%= component.component_name %></option>
                    <% } %>
                <% }) %>
            </select>

            <!-- Selector de Motherboard -->
            <label for="motherboard">Motherboard:</label>
            <select id="motherboard" name="motherboard" required>
                <option disabled selected hidden value="">-- Select a Motherboard --</option>
                <% components.forEach(component => { %>
                    <% if (component.component_type === 'Motherboard') { %>
                        <option value="<%= component.component_id %>"><%= component.component_name %></option>
                    <% } %>
                <% }) %>
            </select>

            <!-- Selector de PSU -->
            <label for="psu">PSU:</label>
            <select id="psu" name="psu" required>
                <option disabled selected hidden value="">-- Select a PSU --</option>
                <% components.forEach(component => { %>
                    <% if (component.component_type === 'PSU') { %>
                        <option value="<%= component.component_id %>"><%= component.component_name %></option>
                    <% } %>
                <% }) %>
            </select>

            <!-- Selector de Case -->
            <label for="pcCase">Case:</label>
            <select id="pcCase" name="pcCase">
                <option disabled selected hidden value="">-- Select a Case --</option>
                <% components.forEach(component => { %>
                    <% if (component.component_type === 'Case') { %>
                        <option value="<%= component.component_id %>"><%= component.component_name %></option>
                    <% } %>
                <% }) %>
            </select>

            <!-- Selector de Cooler -->
            <label for="cooler">Cooler:</label>
            <select id="cooler" name="cooler">
                <option disabled selected hidden value="">-- Select a Cooler --</option>
                <% components.forEach(component => { %>
                    <% if (component.component_type === 'Cooler') { %>
                        <option value="<%= component.component_id %>"><%= component.component_name %></option>
                    <% } %>
                <% }) %>
            </select>

            <!-- Botón para enviar el formulario -->
            <button type="submit">Create PC</button>
        </form>
    </main>
</body>
</html>